.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
  transition: border-radius 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.columns img:hover{
  border-radius: 4rem;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}


.columns.img-row{
  display: flex;
  flex-direction: row;
  max-width: var(--desktop-max-width);
  margin: auto;

  img {
    max-width: 120px;
    height: auto;
    transition: border-radius 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  img:hover{
    border-radius: 2rem;
  }
}