.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  background: var(--hero-background);
  max-height: 90vh;
  min-height: 20vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  > div {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  h1, h2 {
    margin: 10px 0 16px;
  }

  p code:not(.code-content) {
    display: none;
  }
}

.hero.black-header h1 {
  color: var(--background-color);
}

.hero .blog-content {
  padding: 24px 40px;
  position: relative;
  z-index: 1;
  right: 50px;
}

.hero .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.hero video.video-bg {
  width: 120vw;
  height: auto;
  position: absolute;
  inset: 1px 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.hero picture.img-bg {
  position: absolute;
  width: 120vw;
  z-index: -1;
  inset: 1px 50%;
  transform: translateX(-50%);
  object-fit: cover;
  box-sizing: border-box;

  img {
    width: 100%;
    height: auto;
  }
}

.hero.fixed-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero.overlay {
  text-shadow: 2px 4px 2px rgb(0 0 0 / 60%);

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(265deg,rgb(0 0 0 / 0%) 1%, rgb(0 0 0 / 100%) 100%);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.video-error-message {
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 20px;
  background-color: white;
  color: red;
  border-radius: 0 0 0 10px;
  font-size: 0.8em;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }

  .hero .content-wrapper {
    flex-direction: row;
  }
}