.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  background: var(--hero-background);
  max-height: 90vh;
  min-height: 20vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  > div {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  h1, h2 {
    margin: 10px 0 16px;
  }
}

.hero.black-header h1 {
  color: var(--background-color);
}

.hero .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.hero video.video-bg {
  width: 120vw;
  height: auto;
  position: absolute;
  inset: 1px 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.hero picture.img-bg {
  position: absolute;
  width: 120vw;
  z-index: -1;
  inset: 1px 50%;
  transform: translateX(-50%);
  object-fit: cover;
  box-sizing: border-box;

  img {
    width: 100%;
    height: auto;
  }
}

.hero.fixed-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }

  .hero .content-wrapper {
    flex-direction: row;
  }
}