footer {
  font-size: var(--body-font-size-xs);
  margin-bottom: 2rem;
  margin: 1rem 1.5rem 2rem 1.5rem;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  background-color: var(--background-color-2);
  padding: 40px 24px 24px;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

footer .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  & > div > p > picture {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}